<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<form method="get">
<h1> Sample Design: Create</h1>
<div> <label> Task No.</label><input type = "number" name="taskno" value = "{{edit.id}}"> </div>
<div> <label> Task Name</label><input type = "text" name="taskname" value = "{{edit.taskname}}"> </div>
<div> <label> Details</label><input type = "text" name="details" value = "{{edit.details}}"> </div>
<div> <label> Status</label> <input type = "text" name="status" value = "{{edit.status}}"> </div>
<div> <input type="submit"></div>
</form>
</body>
</html>